<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>

<body>
    <h1>Cadastro</h1>
    <form method="post" action="/cadastro/salvar">
        Categoria: <input type="text" name="categoria"> <br />
        Conteudo: <input type="text" name="conteudo"> <br />
        <input type="submit">
    </form>

    <a href="/">Home</a>
    <a href="/front">Front</a>
    <a href="/back">Back</a>
    <a href="/cadastro">Cadastro</a>
</body>

</html>